@font-face {
  font-family: "iconfont"; /* Project id 3487050 */
  src: url('iconfont.woff2?t=1656425082191') format('woff2'),
       url('iconfont.woff?t=1656425082191') format('woff'),
       url('iconfont.ttf?t=1656425082191') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuandengji:before {
  content: "\e789";
}

.icon-zhanghu:before {
  content: "\e600";
}

